<div>
    <%= image_tag @user.photo, alt: @user.name, class: "user-image" %>
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
</div>

<div>
    <p><%= @user.bio %></p>
</div>

<%= link_to "Back to Users", users_path %>

<h2>Recent Posts</h2>
<% @recent_posts.each do |post| %>
    <%= link_to post_path(post) do %>
        <div>
            <h3><%= post.title %></h3>
            <p><%= post.text %></p>
        </div>
        <div>
            <p>Comments: <%= post.comments_counter %></p>
            <p>Likes: <%= post.likes_counter %></p>
        </div>
    <% end %>
<% end %>

<%= link_to "View All Posts", user_posts_path(@user) %>
