<div>
    <%= image_tag @user.photo, alt: @user.name, class: "user-image" %>
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
</div>

<div>
    <p><%= @user.bio %></p>
</div>

<%= link_to "Back to Users", users_path %>

<h2>Recent Posts</h2>
<% @recent_posts.each do |post| %>
  <div>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <p><%= link_to "View Details", post_path(post) %></p>
  </div>
<% end %>

<%= link_to "View All Posts", user_posts_path(@user) %>
