<div class="user-container">
    <div class="image-container">
        <% if @user.photo.present? %>
            <%= image_tag @user.photo, alt: @user.name, class: "user-image" %>
        <% else %>
            <%= image_tag "https://bit.ly/3HvUkch", alt: @user.name, class: "user-image" %>
        <% end %>
    </div>
    <div class="counter-container">
        <h2 class="user-name"><%= @user.name %></h2>
        <p class="user-posts">Number of posts: <%= @user.posts_counter %></p>
    </div>
</div>

<div class="user-bio">
    <h5>Bio</h5>
    <p><%= @user.bio %></p>
</div>

<!-- Add create post form here... -->
<h3>Create Post</h3>
<div class="create-post">
    <%= render 'posts/form' %>
</div>

<h2>Recent Posts</h2>
<% @recent_posts.each do |post| %>
    <%= link_to post_path(post) do %>
        <div class="post-container">
            <div class="post-details">
                <h3><%= post.title %></h3>
                <p><%= post.text %></p>
            </div>
            <div class="post-counters">
                <p>Comments: <%= post.comments_counter %></p>
                <p>Likes: <%= post.likes_counter %></p>
            </div>
        </div>
    <% end %>
<% end %>

<div class="view-all-posts">
    <%= link_to "View All Posts", user_posts_path(@user), class: "button" %>
</div>
