<div class="user-container">
    <div class="image-container">
      <% if @user.photo.present? %>
          <%= image_tag @user.photo, alt: @user.name, class: "user-image" %>
      <% else %>
          <%= image_tag "https://bit.ly/3HvUkch", alt: @user.name, class: "user-image" %>
      <% end %>
    </div>
    <div class="counter-container">
        <h2 class="user-name"><%= @user.name %></h2>
        <p class="user-posts">Number of posts: <%= @user.posts_counter %></p>
    </div>
</div>

<div>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div>
        <div class="post-container">
          <div class="post-details">
              <h3><%= post.title %></h3>
              <p>
                <%= truncate(post.text, length: 130, omission: '...') %>
                <% if post.text.length > 20 %>
                <% end %>
              </p>
          </div>
          <div class="post-counters">
              <p>Comments: <%= post.comments_counter %></p>
              <p>Likes: <%= post.likes_counter %></p>
          </div>
        </div>

        <div>
          <h3>Comments:</h3>
          <ul>
            <% post.recent_comments.each do |comment| %>
              <li>"<%= comment.text %>"</li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
  <button> Pagination </button>
</div>
