<!-- This is the post show file -->
<div class="post-details-container">
    <div class="post-title">
        <h2><%= @post.title %> by <%= @author_name %></h2>
        <div class="detail-counters">
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes: <%= @post.likes_counter %></p>
        </div>
    </div>
    <p class="post-details-text"><%= @post.text %></p>


    <!-- Comments Form -->
    <%= render 'comments/form' %>

    <!-- Likes Form -->
    <%= render 'likes/form' %>

    <% if can? :destroy, @post %>
        <%= form_with(model: [@user, @post], method: :delete, data: { turbo_frame: 'reload' }) do |form| %>
            <%= form.submit 'Delete Post', class: 'btn-delete', data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
</div>

<div>
    <h2>Comments:</h2>
    <ul>
        <% @comments.each do |comment| %>
            <li class="comment_container">
                "<%= comment.text %>"
                <% if can? :destroy, comment %>
                    <%= form_with(model: [@post, comment], method: :delete, url: user_post_comment_path(@user, @post, comment), data: { turbo_frame: 'reload' }) do |form| %>
                    <%= form.submit 'Delete Comment', class: 'btn-delete', data: { confirm: 'Are you sure?' } %>
                    <% end %>
                <% end %>
            </li>
        <% end %>      
    </ul>
</div>
